@media (max-width: 900px){
    header{
        margin: 10px 50px;
        width: 900px;
    }
}
@media (max-width: 850px){
    .footertitle{
        width: 500px;
    }
    .buttoncontain{
        width: 500px;
    }
}